#segmentation-container
{
	 padding: 10px;

	 .folder-input
	 {
		  display: none;
	 }

	 .folder-button
	 {
		  cursor: pointer;
		  background-color: var(--theme-bg3);
		  padding: 10px 20px;
		  margin: 0 10px;
	 }

	 .canvas-container
	 {
		  padding: 20px;
		  position: relative;
		  display: flex;
		  justify-content: center;

		  .main-canvas
		  {
				image-rendering: optimizespeed;
				position: absolute;
		  }

		  .overlay-canvas
		  {
				pointer-events: none;
				position: absolute;
		  }
	 }

	 button
	 {
		  margin: 0 10px;
	 }
}
