:root
{
	--theme-bg1: #29292c;
	--theme-bg2: #343439;
	--theme-bg3: #45454b;
	--theme-bg4: #505057;
	--theme-bg5: #58585e;
	--theme-bg6: #6b6b71;
	--theme-border-light: #5d5d68;
	--theme-border-dark: #333;
	--theme-border-shadow: rgba(33,33,33,.5);
	--theme-border-highlight: rgba(129,129,129,.5);
	--theme-color-primary: #54ca7b;
	--theme-color-secondary: #f6a623;
	--theme-text-light: #f4f4f4;
	--theme-text-dark: #a2a2a9;
}

body
{
	 background-color: var(--theme-bg1);
	 color: var(--theme-text-light);
}
